@import url(styles/header.css);

:root {
    --cor-de-fundo:#36cecc;
    --cor-cabecalho:#e32d40;

}

body {
    background-color: var(--cor-de-fundo);
    margin: 0;


}
h1{
    font-weight: normal;
}